<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <body>
    <section>
      <%- include('include/_sidebar') %>
      <container>
        <div class="rankbox">
          <h3>Stream Settings</h3>
          
            <label for="streamingService">Streaming Service:</label>
            <select name="streamingService" id="streamingService">
              <option value="twitch" <%= streamProvider === 'twitch' ? 'selected' : '' %>>Twitch</option>
              <option value="youtube" <%= streamProvider === 'youtube' ? 'selected' : '' %>>YouTube</option>
            </select>

            <label for="streamingLink">Streaming Link:</label>
            <input type="text" id="streamingLink" name="streamingLink" value="<%= streamUrl %>" />

            <label for="teamNumber">Team Number:</label>
            <input type="text" id="teamNumber" name="teamNumber" />

            <label for="eventKey">Event Key:</label>
            <input type="text" id="eventKey" name="eventKey" />

            <button type="button" id="submit-button-link">Submit</button>
          
        </div>
      </container>
    </section>
    
    <script src="/js/settings.js"></script>
  </body>
</html>