<navigation>
  <a href="<%= baseUrl %>/">
    <button class="button">
      <img
        src="/img/calendar.png"
        alt="Match Info"
        style="width: 50px; height: 50px"
      />
    </button>
  </a>
  <a href="<%= baseUrl %>/robot">
    <button class="button">
      <img
        src="/img/statistics.png"
        alt="Robot Stats"
        style="width: 50px; height: 50px"
      />
    </button>
  </a>
  <a href="<%= baseUrl %>/info">
    <button class="button">
      <img
        src="/img/info.png"
        alt="App Info"
        style="width: 50px; height: 50px"
      />
    </button>
  </a>
  <a href="<%= baseUrl %>/settings">
    <button class="button">
      <img
        src="/img/gear.png"
        alt="Settings"
        style="width: 50px; height: 50px"
      />
    </button>
  </a>
  <div class="server-toggle-container">
    <input type="checkbox" id="server-toggle" <%= isProduction ? 'checked' : ''
    %>>
    <label for="server-toggle" class="server-toggle-label">
      <span class="toggle-text"
        ><%= isProduction ? 'Production' : 'Development' %></span
      >
    </label>
  </div>
</navigation>
